#top {
    background-image: url(images/African_Animation_2.jpg);
    height: 40%;
    text-align: center;
    color: gold;
    
}

page {
	 border: 1px solid orange;

}

body {
    background-color: black;
}

head {
    color: gold;
    text-align: left;
    text-transform: uppercase;
    font-family: "Times New Roman";
    font-size: 50px;
}

nav {
    background-color:antiquewhite;
    text-transform: uppercase;
    font-family: "Times New Roman";
    font-size: 40px;
}

a {
    color: whitesmoke;
    font-family: "Arial";
    font-size: 20px;
}


page {
	 border: 1px solid orange;

}




h1 {
    color: gold;
    text-align: center;
    
    font-family: "Times New Roman";
    font-size: 40px;
}

h2 {
    background-color:black;
    color: orange;
    font-family: "Times New Roman";
    font-size: 25px;
}

p {
    color: whitesmoke;
    font-family: "Arial";
    font-size: 20px;
}

nav {
   
    text-transform: uppercase;
    font-family: "Times New Roman";
    font-size: 30px;
    color: aliceblue;
}

li {
   background-color: black;
    text-transform: uppercase;
    font-family: "Times New Roman";
    font-size: 30px;
    color: aliceblue;
}

ul {
   background-color: black;
  
}

menu {
    background-color: black;
    color: gold;
 shape-margin: round;
margin-top: auto;
    margin-left: auto;
    margin-right: auto;
   text-align: justify;

}

.dropdown {
    background-color: gold;
    background-size: 5px;
    font-family: monospace;
    font-size: 32;
    font-stretch: expanded;
   
    font-feature-settings: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10;
    height:50px;
    
    
}

.dropbtn {
    position: relative;
     background-color: orange;
    color: black;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    color: black;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px (black);
    padding: 12px 16px;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: orange;
    text-align: left;
    font-style: italic;
    color: black;
}  

