page {
	 border: 1px solid orange;

}

body {
    background-color: black;
}

h1 {
    color: orange;
    text-align: center;
    
    font-family: "Times New Roman";
    font-size: 40px;
}

h2 {
    background-color:antiquewhite;
    
    font-family: "Times New Roman";
    font-size: 25px;
}

p {
    color: whitesmoke;
    font-family: "Arial";
    font-size: 20px;
}

nav {
   
    text-transform: uppercase;
    font-family: "Times New Roman";
    font-size: 30px;
    color: aliceblue;
}

li {
   
    text-transform: uppercase;
    font-family: "Times New Roman";
    font-size: 30px;
    color: aliceblue;
}

#menu {
    
 shape-margin: round;
margin-top: auto;
    margin-left: auto;
    margin-right: auto;
   text-align: justify;

}
