.page {
	 border: 1px solid #665544;

}

body {
    background-color: lightcyan;
}

h1 {
    color: orange;
    text-align: center;
    
    font-family: "Times New Roman";
    font-size: 30px;
}

h2 {
    background-color:antiquewhite;
    
    font-family: "Times New Roman";
    font-size: 30px;
}

p {
    font-family: "Arial";
    font-size: 20px;
}